<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="./deco.css">
</head>
<body>

  <header>
    <nav>
      <ul class="bar">
        <li><a href="contact.html">Home</a></li>
        <!-- <li><a href="about.html">About</a></li> -->
        <li><a href="web.html">Issue</a></li>
        <div class="dropdown">
          <button class="dropbtn">Article</button>
          <div class="dropdown-content">
            <a href="1.html">遊戲</a>
            <a href="2.html">日常</a>
            <a href="3.html">問題</a>
            <a href="4.html">感情</a>
            <a href="5.html">程式</a>
            <a href="6.html">梗圖</a>
            <a href="7.html">桐人</a>
            <a href="8.html">閒聊</a>
            <a href="9.html">你媽</a>
            <a href="A.html">家庭</a>
            <a href="B.html">瑟瑟</a>
            <a href="C.html">其他</a>
          </div>
        </div>
        <li id="signin"><a href="signin.html">Sign In</a></li>
        <li id="reg"><a href="register.html">Register</a></li>
      </ul>
    </nav>
  </header>
  <header>
    <ul class="bar2">
      <h1>遊戲類文章區</h1>
      <h2>人類有三大慾望 作者:佐佐木淳平</h2>
      
    </ul>
  </header>
  <div class="container">
      <div class="contexts">
          人類有三大慾望，食慾，性慾，睡眠欲，而在這三大慾望當中，因為食慾是滿足人類生存需求的慾望，所以，滿足食慾的行為，在這三者中，優先性是第一位的。如果能在進食的過程中，吃下了美味的食物，也能使人類無比愉快，而在現實生活中，存在著對於這種快感執著追求的人，我們通常把這種人稱之為美食家，而本餐廳，則專門為那些厭倦世間常見美食的人，量體裁衣，提供符合他們身份的美食。
        </div>
        
        <div id="commentSection" style="display: none;">
            <div class="comments">
        <textarea id="comment" placeholder="撰寫留言"></textarea>
        <button id="closeCommentButton">關閉</button>
      </div>
    </div>
    <button id="showCommentButton">留言</button>
</div>

<script src="comments.js"></script>

</body>
</html>
