<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
</head>
<body>
    {% if cerror %}
    <script>
        alert("{{ cerror }}")
    </script>
    {% endif %}
    <header>
        <nav>
            <ul class="bar">
                <li><a href="/">Home</a></li>
                <li><a href="/web">Issue</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Article</button>
                    <div class="dropdown-content">
                        <a href="/1">遊戲</a>
                        <a href="/2">日常</a>
                        <a href="/3">問題</a>
                        <a href="/4">感情</a>
                        <a href="/5">程式</a>
                        <a href="/6">梗圖</a>
                        <a href="/7">桐人</a>
                        <a href="/8">閒聊</a>
                        <a href="/9">你媽</a>
                        <a href="/A">家庭</a>
                        <a href="/B">瑟瑟</a>
                        <a href="/C">其他</a>
                    </div>
                </div>
                {% if g.username != 'Visitor' %}
                    <li id="logout"><a href="/logout">Log Out</a></li>
                    <li id="username"><a href="#">{{ g.username }}</a></li>
                {% else %}
                    <li id="signin"><a href="/signin">Sign In</a></li>
                    <li id="reg"><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% if eerror %}
    <script>
        alert("{{ eerror }}")
    </script>
    {% endif %}
    <div class="concontainer">
        <div class="container">
            <h2>Sign in for your account</h2>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

            <form method="POST" action="{{ url_for('login') }}">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" id="password" placeholder="Password" required><br>
                <input type="submit" value="Sign in">
            </form>
            <div class="jump">
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2024 Guthib. I have no copyrights because the idea is stolen from github.</p>
    </footer>
</body>
</html>
